html {
	height: 100%;
    /*background-color: #1f1f1f;*/
	background-color: white;
}

body {
	font-weight: 300;
	font-size: 1rem;
	background: unset;
}

i { 
	font-size: 1.25em;
	margin: auto;
}

img {
	/*max-height: 200px;*/
}

.fa-puzzle-piece{
	color: white
}

.container {
	max-width: 93vw !important	;
}

.card-resposta {
	width: 100%;
    margin: auto;
    display: flex;
    background: #c89341;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    min-height: fit-content;
}

.card-resposta > div {
	margin:auto;
	font-size: 2rem;
    font-weight: bold;
    color: #bbbbbb;
}

#resposta-escondida {
	background: #1e1e1e;
    border-radius: 5px;
    padding: 10px;
    white-space: break-spaces;
    color: white;
}

#img-pergunta{
	border-radius: 5px;
}

#pergunta {
	font-size: 2em;
}

.range {
	-webkit-appearance: none;
	width: 100%;
	background: #f7f7f7;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	padding: 0px !important;
	height: 20px;
    border-radius: 5px;
	margin: auto;
}

.range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 25px;
	background: #6d6d6d;
	cursor: pointer;
	border-radius: 10px;
	
}

.range::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #7474c2;
	cursor: pointer;
}

.sombra {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.button {
	background: #5f5f5f;
    color: white;
    display: flex;
    padding: 10px;
    font-weight: 400;
	/*border: 1px solid #80808038;*/
	cursor: pointer;
	border-radius: 5px;
	min-height: 6vh;
    height: fit-content;
	font-size: 1rem;
	min-height: 8vh;
}

.button:hover {
	background: #7474c2;
	color: white;
}

.button > div > i {
	margin-right: 10px;
}

.button-icon {
	font-size: 18px;
    display: flex;
    padding: 12px 20px;
    height: fit-content;
	height: 100%;
	min-height: 8vh;
}

.button-icon > i {
	margin: auto;
}

.display-flex {
	display: flex;
}


.button-selected {
	background: #d6cc69  !important;
}

.button-wrong {
	background: #ff6868 !important;
    color: white;
}

.button-right {
	background: #68ff98 !important;
}

.btn-lista {
	display: flex;
	min-height: 8vh;
}



.btn-lista-txt {
	width: 100%;
	background: #f7f7f7;
	color: #3d3d3d;
	min-height: 8vh;
}

.btn-lista-icon {
	width: fit-content;
	margin-left: 24px;
	background: unset;
    border: 0px;
    height: fit-content;
	border-radius: 5px;
	color: #5f5f5f;
	box-shadow: unset;
	width: 20%;
}

.button > div  {
	margin: auto;
	font-size: 1.2rem;
}

.border-label {
	margin: auto;
	/*border: 1px solid #8080805e;*/
	padding: 10px 15px;
	border-radius: 5px;	
}

.btn-disabled {
	background: #b9b9b9;
}

.bg-correta {
	background: #3bc466  !important;
}

.bg-errada {
	background: #ff6868 !important;
}

input {
	width: 3vw;
    border: 1px solid #dedede;
    padding: 10px;
}

.edit-icon {
	position: relative;
    margin-left: auto;
    margin-top: 4px;
    margin-right: 10px;
}

.button-icon-checkbox {
	margin-right: 10px;
	width: 60px;
	background: #d5d4d4;
}

.button-icon-checkbox-checked {
	background: #5e66e4;
}

.button-icon-delete {
	margin-left: 10px;
	width: 60px;
	border: 0px;
    background: unset !important;
	box-shadow: unset;	
    color: #c27474;
	margin:auto;
}

.button-icon-delete:hover {
	background: #c27474 !important;
    color: white;
}

.border-radius {
	border-radius: 5px;
}

.button > div {
	margin: auto;
    text-align: left;
	font-weight: 300;	
}

.alternativa{
	margin-left: 10px !important;
    text-align: left;
	font-weight: 300;	
}

.m-auto > div {
	margin: auto !important;
}

.dica {
	background: #ffdd9d54;
    border-radius: 5px;
    padding: 10px;
	display: none;
}

.img-upload {
	/* min-width: 160px; */
	width: 100%;
    margin: auto;
    text-align: center;
}

textarea {
	border-radius: 5px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
}

.img-upload > label > div {
	margin: auto !important;
    text-align: center !important;
}

.img-upload > label > div > i {
	margin: auto !important;
    text-align: center !important;
}

.background-dica {
	background: #ffecb8;;
}

.fa-eye,  .fa-eye-slash {
	font-size: 0.85em;
    color: #5e66e4;
    margin-left: 10px;
	cursor: pointer;
}

.border-top {
	border-top: 2px solid #e6e6e6 !important;
    border-radius: 5px;
    padding-top: 13px;
}

h2 {
	font-size: 1.2em;
    font-weight: 300;
}

#card-revelar-resposta {
	min-height: 8vh;
}

#resposta-escondida {
	min-height: 8vh;
}

@media only screen and (max-width: 1000px) {
	body {
		font-size: 2rem;	
	}


	.button > div {
		font-size: 2rem;
	}

	#inverter {
		height: 56px !important;
		max-width: 50px !important;
	}

	.range::-webkit-slider-thumb {
		width: 35px;
		height: 45px;
	}
}


.night-mode-text {
	color: white;
}

.night-mode-background{
	background: #5f5f5f
}